body {
      
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
	  height: 100%;
    background-color: #333;
	color: #fff;
    }
    a {
      color: #e5e616;
    }
    a:hover {
      color: #88a7f7;
    }
    .wrap > h1 {
      color: rgb(221, 142, 22);
      margin: 14px auto 0;
    }
    #showcase {
      height: 570px;
      overflow: visible !important;
    }
    .card {
      width: 260px;
      padding: 12px;
      text-align: center;
      background-color: rgba(61, 9, 9, 0.8);
      border: 2px white dotted;
      border-radius: 12px;
    }
    .card h2 {
      margin: 0 0 7px 0;
    }
    .card a {
      font-size: 18px;
      display: block;
    }
    .card p {
      font-size: 15px;
    }
    .nav {
      width: 64px;
      height: 134px;
      color: #ccc;
      font: bold 3em "Lucida Grande";
      text-align: center;
      text-shadow: 0px 1px 0px #f5f5f5;
      background: rgba(150, 150, 150, 0.5);
      border: solid 2px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.45);
      box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.45);
      cursor: pointer;
      position: absolute;
      top: 33%;
    }
    .nav:active,
    .nav.down {
      background: rgba(120, 120, 120, 0.5);
      border: solid 2px rgba(0, 0, 0, 0.55);
    }
    .nav.left {
      left: -43px;
      -webkit-border-radius: 12px 5px 5px 12px;
      -moz-border-radius: 12px 5px 5px 12px;
      border-radius: 12px 5px 5px 12px;
    }
    .nav.right {
      right: -43px;
      -webkit-border-radius: 5px 12px 12px 5px;
      -moz-border-radius: 5px 12px 12px 5px;
      border-radius: 5px 12px 12px 5px;
    }